body {
  background: #3a3a3a;
}

.box {
  margin: 3em auto;
  width: 700px;
  height: 500px;
  border-radius: 8px;
  background: url("img/bg.png");
  box-shadow: 2px 2px 10px 1px rgb(4, 3, 3), 2px 2px 10px 1px rgb(219, 21, 21);
}
