body {
	padding: 2% 18%;
	font: 1em/1.5 sans-serif;
}
form {
	margin-top: 30px;
}

/* Attribute Selectors */
[class] {
	font-size: 1.8rem;
	background-color: steelblue;
	color: white;
}
input[type="submit"] {
	background-color: tomato;
	outline: none;
	padding: 8px 16px;
	width: 60%;
}