
body {
	margin: 70px 0 0;
	background: #E1E1DD;
	color: #FFF;
	font: normal 1.4em sans-serif;
}

.wrapper {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 25px;
	width: 80%;
	background: #FFF;
}

.top {
	background: #FF6347;
}

.middle {
	background: #87CEEB;
}

.bottom {
	background: #20B2AA;
}

.wrapper div {
	width: 150px;
	height: 150px;
	text-align: center;	
	line-height: 150px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}


