h1{
    color: red;
}
.good{
   border-bottom:2px solid  crimson;
    color: black;
    line-height: 1.5;
    padding: 5px;
}
#head, #foot{
    color: white;
    background-color: steelblue;
    text-align: center;
    font-size: 40px;
    padding: 20px;
}
