body {
  perspective: 800px;
}

.wrap {
  transition: all 2s ease;
}

.wrap div {
  position: absolute;
}

.side-a {
  z-index: 10;
}

.side-b {
}

.wrap:hover {
  transform: rotate(1, 0, 1, 80deg);
}
