
body {
	background: #303030;
	font: 1.1em sans-serif;
}
.wrap {
	box-sizing: border-box;
	margin: 70px auto;
	padding: 5px;
	width: 600px;
	border-radius: 10px;
	background: #222;
	box-shadow: inset 0 0 1px rgba(0,0,0,.6), 0 1px 0 rgba(255,255,255,.1);
}
.prog-bar {
	height: 60px;
	border-radius: 5px;
	background: -webkit-repeating-linear-gradient(-45deg, rgba(255,255,255,.1), rgba(255,255,255,0) 12px), -webkit-linear-gradient(#F5A8A8, #F08080);
} 

/*	Keyframes
------------------------------------------ */



























